@model magnovault.Site.ViewModels.HomeViewModel
@{
     ViewBag.Title = "MagnoVault";
}

@Html.HiddenFor(m => m.ProductCount)

<article id="about" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">About Us</h1>
               </div>
               @*<div class="col-lg-1 vidsurv-badge">
                    <a href="http://www.videosurveillance.com">
                         <img src="~/Content/VS_Dealer_Badge.jpg" height="130" alt='Video Surveillance dealer' />
                    </a>
               </div>*@
          </div>
     </header>

     <div class="article-content">
          <div class="row about-copy">
               <p>
                    MagnoVault is located in Vancouver, Washington, where all products are manufactured and serviced.<br />
                    MagnoVault is a forward-looking company that delivers quality products with consumer protection and satisfaction as its highest priorities.<br />
                    Our engineers are continuing to improve the features and ease-of-use of future products.<br />
                    Currently, MagnoVault markets only to residents of the Pacific Northwest, with plans to expand to other areas throughout the United States.
               </p>
          </div>
          <div class="row">
               <div class="col-lg-2 col-lg-offset-10">
                    <p>
                         Site by<br />
                         <span style="font-family:'Engravers MT'; color:green; font-size:18px;">Perficiat</span><br />
                         <i>The practice of excellence in software.</i>
                    </p>
               </div>
          </div>

          @*<div class="adspace"></div>*@
     </div>
</article>

<article id="dap" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">The Problem: Delivery at Place Statistics</h1>
               </div>
          </div>
     </header>

     <div class="article-content">
          <div class="middle-content">
               <div class="featured-link">
                    <a href="https://www.thepackageguard.com/prevention-solution-compare-package-theft/">thepackageguard.com</a>
               </div>
          </div>

     </div>
</article>

<article id="faq" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">Frequently Asked Questions</h1>
               </div>
           </div>
     </header>

     <div class="article-content">
          <div class="faq-list">
               <div class="faq-item">
                    <div class="faq-question">
                         Is MagnoVault good?
                    </div>
                    <div class="faq-answer">
                         Yes, it sure is.
                    </div>
               </div>

               <div class="faq-item">
                    <div class="faq-question">
                         Really good?
                    </div>
                    <div class="faq-answer">
                         Yup.
                    </div>
               </div>
          </div>

     </div>
</article>

<article id="home" class="component">
     <header class="titletron">
          <div class="row">
               <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h3 class="sub-byline">Patent Pending</h3>
               </div>
           </div>
     </header>

     <div class="article-content">
          <div class="row">
               <div class="col-lg-4 product-item">
                    <img class="product-image" src="@Model.Products[0].ImagePath" height="200" alt='product' /><br />
                    <h3 class="product-caption">@Model.Products[0].Name: @Model.Products[0].ShortDescr</h3>
               </div>
               <div class="col-lg-4 product-item">
                    <iframe title="homePageVideo" height="250" src="https://www.youtube.com/embed/13t3uTCN704" frameBorder="0" allow="autoplay; encrypted-media" allowFullScreen style="margin-top:-15px;"></iframe>
               </div>
               <div class="col-lg-4 product-item">
                    <img class="product-image" src="@Model.Products[1].ImagePath" height="200" alt='product' /><br />
                    <h3 class="product-caption">@Model.Products[1].Name: @Model.Products[1].ShortDescr</h3>
               </div>
          </div>

          @*<div class="special-offer">
                    <h4>
                         Exclusive
                         <span class="hastooltip" title="Price good for orders received by 8/31/18 - Maximum of 3 per household at introductory price.  Submit contact request for orders over 3.">
                              &nbsp;Introductory Offer&nbsp;
                         </span>
                         for
                         <span class="hastooltip" title="Valid for destination ZIP codes 97005, 97006, etc...">
                              &nbsp;Portland/Vancouver Metro Area&nbsp;
                         </span>
                         Shipping Destinations
                    </h4>
                    <p>Pre-orders available for all other zip codes - submit contact request for pre-ordering instructions</p>
               </div>*@

     </div>
</article>

<article id="investorcontact" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <address class="col-lg-2">
                    MagnoVault<br />
                    Vancouver, WA<br />
                    (971) 295-0904<br />
                    support@magnovault.com
               </address>
               <div class="col-lg-8">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">Investor Relations</h1>
               </div>
          </div>
     </header>

     <div class="article-content">
          <form class="contact-form">
               <h4>For Investors Seeking More Information on Investing in MagnoVault products, complete information below:</h4>
               <label>First Name</label>@Html.TextBoxFor(m => m.InvestorContact.FirstName)<br />
               <label>Last Name</label>@Html.TextBoxFor(m => m.InvestorContact.LastName)<br />
               <label>Title</label>@Html.TextBoxFor(m => m.InvestorContact.Title)<br />
               <label>Organization</label>@Html.TextBoxFor(m => m.InvestorContact.Organization)<br />
               <label>City</label>@Html.TextBoxFor(m => m.InvestorContact.City)<br />
               <label>State</label>@Html.TextBoxFor(m => m.InvestorContact.State)<br />
               <label>Email</label>@Html.TextBoxFor(m => m.InvestorContact.Email)<br />
               <label>Phone</label>@Html.TextBoxFor(m => m.InvestorContact.Phone)<br />
               <label>Best contact method</label>
               email<input type="radio" name="InvestorContact_BestMethod" value="email" />
               phone<input type="radio" name="InvestorContact_BestMethod" value="phone" /><br />
               <label>How did you hear of us?</label>@Html.TextBoxFor(m => m.InvestorContact.HowHeard, new { @class = "text-long" }) <br />
               <label>Investment Type</label>@Html.TextBoxFor(m => m.InvestorContact.InvestType, new { @class = "text-long" }) <br />
               <button class="btn-info submit-contact" id="submitInvestor">Submit</button>
          </form>

          <div class="acknowledgement" id="investor-acknowledgement" hidden>Thank you for your interest in MagnoVault!  We will respond to your inquiry as quickly as possible.</div>

          <div class="privacy-statement">
               <p>
                    <span class="privacy-header">Privacy Statement:</span>
                    <span class="privacy-content">We will not sell your personal information with any entity.</span>
               </p>
          </div>

     </div>
</article>

<article id="mediacontact" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <address class="col-lg-2">
                    MagnoVault<br />
                    Vancouver, WA<br />
                    (971) 295-0904<br />
                    support@magnovault.com
               </address>
               <div class="col-lg-8">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">Media Relations</h1>
               </div>
          </div>
     </header>

     <div class="article-content">
          <form class="contact-form">
               <h4>Media organizations who would like more information about MagnoVault are asked to complete the information below:</h4>
               <label>First Name</label>@Html.TextBoxFor(m => m.MediaContact.FirstName)<br />
               <label>Last Name</label>@Html.TextBoxFor(m => m.MediaContact.LastName)<br />
               <label>Title</label>@Html.TextBoxFor(m => m.MediaContact.Title)<br />
               <label>Organization</label>@Html.TextBoxFor(m => m.MediaContact.Organization)<br />
               <label>City</label>@Html.TextBoxFor(m => m.MediaContact.City)<br />
               <label>State</label>@Html.TextBoxFor(m => m.MediaContact.State)<br />
               <label>Phone</label>@Html.TextBoxFor(m => m.MediaContact.Phone)<br />
               <label>Email</label>@Html.TextBoxFor(m => m.MediaContact.Email)<br />
               <label>Best contact method</label>
               email<input type="radio" name="MediaContact_BestMethod" value="email" />
               phone<input type="radio" name="MediaContact_BestMethod" value="phone" /><br />
               <label>How did you hear of us?</label>@Html.TextBoxFor(m => m.MediaContact.HowHeard, new { @class = "text-long" })<br />
               <label>Question</label>@Html.TextBoxFor(m => m.MediaContact.Message, new { @class = "text-long" })<br />
               <button class="btn-info submit-contact" id="submitMedia">Submit</button>
          </form>

          <div class="acknowledgement" id="media-acknowledgement" hidden>Thank you for your interest in MagnoVault!  We will respond to your inquiry as quickly as possible.</div>

     </div>
</article>

<article id="order" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">Order MagnoVault</h1>
               </div>
          </div>
     </header>

     <div class="article-content">
          @*<div class="special-offer">
                    <h4>
                         Exclusive
                         <span class="hastooltip" title="Price good for orders received by 8/31/18 - Maximum of 3 per household at introductory price.  Submit contact request for orders over 3.">
                              &nbsp;Introductory Offer&nbsp;
                         </span>
                         for
                         <span class="hastooltip" title="Valid for destination ZIP codes 97005, 97006, etc...">
                              &nbsp;Portland/Vancouver Metro Area&nbsp;
                         </span>
                         Shipping Destinations
                    </h4>
                    <p>Pre-orders available for all other zip codes - submit contact request for pre-ordering instructions</p>
               </div>*@

          <div class="privacy-statement" style="margin-bottom:50px;">
               <span class="privacy-header">Privacy Statement:</span>
               <span class="privacy-content">We will not sell your personal information with any entity other than for shipping and payment info as required on orders.</span>
          </div>

          @using (Ajax.BeginForm("SubmitOrder", new AjaxOptions { OnSuccess = "submitOrderSuccess(data)", OnFailure = "submitOrderFailure(data)" }))
          {
               <div class="row">
                    <div class="col-md-5">
                         @for (int i = 0; i < Model.ProductCount; i++)
                         {
                              <div class="row">
                                   <div class="col-xs-6">
                                        <img src="@Model.Products[i].ImagePath" height="150" alt="product" align="right" />
                                   </div>

                                   <div class="col-xs-6">
                                        <br />
                                        @Html.HiddenFor(m => m.Order.OnDate)
                                        @Html.HiddenFor(m => m.Order.CustomerId)
                                        @Html.HiddenFor(m => m.Order.Campaign)
                                        @Html.HiddenFor(m => m.Order.Deferred)
                                        @Html.HiddenFor(m => m.Order.Refunded)
                                        @Html.HiddenFor(m => m.Order.Done)
                                        @Html.HiddenFor(m => m.Order.Items[i].ProductId)
                                        @Html.HiddenFor(m => m.Order.Items[i].ProductName)
                                        @Html.HiddenFor(m => m.Order.Items[i].ProductShortDescr)
                                        <div style="font-weight:bold;">@Model.Products[i].Name: @Model.Products[i].ShortDescr</div>
                                        <div>(includes one remote control)</div>
                                        <div>
                                             @Html.HiddenFor(m => m.Order.Items[i].UnitPrice)
                                             <b>@Html.DisplayFor(m => m.Order.Items[i].UnitPrice)</b>
                                        </div>
                                        <div>
                                             <label>Quantity</label>@Html.TextBoxFor(m => m.Order.Items[i].Quantity, new { @class = "item-quantity", @type = "number" })
                                        </div>
                                   </div>
                              </div>
                         }
                    </div>

                    <div class="col-md-4" style="padding-left:100px; padding-top:20px;">
                         <label>Subtotal</label>
                         @Html.HiddenFor(m => m.Order.Subtotal)
                         <span class="order-subtotal">@Html.DisplayFor(m => m.Order.Subtotal)</span>
                         <br />
                         <br />
                         <button class="btn btn-sm btn-info" id="checkout-order" data-toggle="modal" data-target="#checkout-modal">Checkout</button>

                         @*<label>Payment Method</label>
                              Credit/Debit<input type="radio" name="orderMethod" value="cc" />
                              PayPal<input type="radio" name="orderMethod" value="pp" />>*@
                    </div>

                    <div class="col-md-3 order-message">
                         @if (Request.IsAuthenticated && Model.Order.Deferred == true)
                         {
                              <p>Your saved order was retrieved.</p>
                         }
                         else if (Request.IsAuthenticated)
                         {
                              <p>No saved orders.</p>
                         }
                         else
                         {
                              <p>If you have an order saved, logging in will retrieve it.</p>
                         }
                    </div>

               </div>
               @Html.Partial("_Checkout", Model)
               @Html.Partial("_OrderResponse", Model)
          }

     </div>
</article>

<article id="products" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <div class="col-lg-4">
                    <ul class="product-message">
                         <li>Sturdy storage bench for front porches.</li>
                         <li>Remote and auto-locking features.</li>
                         <li>Prevents theft of products delivered to the doorstep.</li>
                    </ul>
               </div>
               <div class="col-lg-4">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h3 class="sub-byline">Patent Pending</h3>
               </div>
          </div>
     </header>

     <div class="article-content">
          <div class="row">
               <div class="col-lg-12">
                    <div class="col-lg-4 product-item">
                         <img class="product-image" src="@Model.Products[0].ImagePath" height="200" alt='product' /><br />
                         <h3 class="product-caption">@Model.Products[0].Name: @Model.Products[0].ShortDescr</h3>
                         <h4 class="product-subcaption">Retail Value - $@Model.Products[0].Price</h4>
                         <button class="btn btn-sm btn-warning" id="prod_0-fs-trigger" data-toggle="modal" data-target="#prod_0-fs">Features & Specs</button>
                         @Html.Partial("_Product_0_FeatSpec", Model)
                    </div>
                    <div class="col-lg-4 product-item" style="padding-top:150px;">
                         <button class="btn btn-sm btn-warning" id="prod-compare-trigger" data-toggle="modal" data-target="#prod-compare">Feature Comparison</button>
                         @Html.Partial("_ProductComparison", Model)
                    </div>
                    <div class="col-lg-4 product-item">
                         <img class="product-image" src="@Model.Products[1].ImagePath" height="200" alt='product' /><br />
                         <h3 class="product-caption">@Model.Products[1].Name: @Model.Products[1].ShortDescr</h3>
                         <h4 class="product-subcaption">Retail Value - $@Model.Products[1].Price (includes one remote control)</h4>
                         <button class="btn btn-sm btn-warning" id="prod_1-fs-trigger" data-toggle="modal" data-target="#prod_1-fs">Features & Specs</button>
                         @Html.Partial("_Product_1_FeatSpec", Model)
                    </div>
               </div>
          </div>

     </div>
</article>

<article id="publiccontact" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <address class="col-lg-2">
                    MagnoVault<br />
                    Vancouver, WA<br />
                    (971) 295-0904<br />
                    support@magnovault.com
               </address>
               <div class="col-lg-8">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">Contact Us</h1>
               </div>
          </div>
     </header>

     <div class="article-content">
          <form class="contact-form">
               <h4>Please Contact Me:</h4>
               <label>First Name</label>@Html.TextBoxFor(m => m.PublicContact.FirstName)<br />
               <label>Last Name</label>@Html.TextBoxFor(m => m.PublicContact.LastName)<br />
               <label>Street Address</label>@Html.TextBoxFor(m => m.PublicContact.Street)<br />
               <label>City</label>@Html.TextBoxFor(m => m.PublicContact.City)<br />
               <label>State</label>@Html.TextBoxFor(m => m.PublicContact.State)<br />
               <label>ZIP Code</label>@Html.TextBoxFor(m => m.PublicContact.Zip)<br />
               <label>Phone</label>@Html.TextBoxFor(m => m.PublicContact.Phone)<br />
               <label>Email</label>@Html.TextBoxFor(m => m.PublicContact.Email)<br />
               <label>Best contact method</label>
               email<input type="radio" name="PublicContact_BestMethod" value="email" />
               phone<input type="radio" name="PublicContact_BestMethod" value="phone" /><br />
               <label>How did you hear of us?</label>@Html.TextBoxFor(m => m.PublicContact.HowHeard, new { @class = "text-long" })<br />
               <label>Question</label>@Html.TextBoxFor(m => m.PublicContact.Message, new { @class = "text-long" }) <br />
               <button class="btn-info submit-contact" id="submitPublic">Submit</button>
          </form>

          <div class="acknowledgement" id="public-acknowledgement" hidden>Thank you for contacting MagnoVault!  We will respond to your inquiry as quickly as possible.</div>

          <div class="privacy-statement">
               <p>
                    <span class="privacy-header">Privacy Statement:</span>
                    <span class="privacy-content">We will not sell your personal information with any entity.</span>
               </p>
          </div>
     </div>
</article>

<article id="retailcontact" class="component" hidden>
     <header class="titletron">
          <div class="row">
               <address class="col-lg-2">
                    MagnoVault<br />
                    Vancouver, WA<br />
                    (971) 295-0904<br />
                    support@magnovault.com
               </address>
               <div class="col-lg-8">
                    <h2 class="super-byline">Think Inside The Vault <span class="trademark">&trade;</span></h2>
                    <img src="~/Content/Logo_4in.png" /><br />
                    <h1 class="page-title">Resale Opportunities for Retailers</h1>
               </div>
           </div>
     </header>

     <div class="article-content">
          <form class="contact-form">
               <h4>For Retailers Seeking More Information on being an authorized reseller of MagnoVault products, please complete the information below:</h4>
               <label>First Name</label>@Html.TextBoxFor(m => m.RetailContact.FirstName)<br />
               <label>Last Name</label>@Html.TextBoxFor(m => m.RetailContact.LastName)<br />
               <label>Title</label>@Html.TextBoxFor(m => m.RetailContact.Title)<br />
               <label>Organization Name</label>@Html.TextBoxFor(m => m.RetailContact.OrgName)<br />
               <label>Organization Type</label>@Html.TextBoxFor(m => m.RetailContact.OrgType)<br />
               <label>Organization Website</label>@Html.TextBoxFor(m => m.RetailContact.OrgWebsite)<br />
               <label>City</label>@Html.TextBoxFor(m => m.RetailContact.City)<br />
               <label>State</label>@Html.TextBoxFor(m => m.RetailContact.State)<br />
               <label>Phone</label>@Html.TextBoxFor(m => m.RetailContact.Phone)<br />
               <label>Email</label>@Html.TextBoxFor(m => m.RetailContact.Email)<br />
               <label>Best contact method</label>
               email<input type="radio" name="RetailContact_BestMethod" value="email" />
               phone<input type="radio" name="RetailContact_BestMethod" value="phone" /><br />
               <label>How did you hear of us?</label>@Html.TextBoxFor(m => m.RetailContact.HowHeard, new { @class = "text-long" })<br />
               <label>Message</label>@Html.TextBoxFor(m => m.RetailContact.Message, new { @class = "text-long" }) <br />
               <button class="btn-info submit-contact" id="submitRetail">Submit</button>
          </form>

          <div class="acknowledgement" id="retail-acknowledgement" hidden>Thank you for your interest in MagnoVault!  We will respond to your inquiry as quickly as possible.</div>

          <div class="privacy-statement">
               <p>
                    <span class="privacy-header">Privacy Statement:</span>
                    <span class="privacy-content">We will not sell your personal information with any entity.</span>
               </p>
          </div>

     </div>
</article>



