@model magnovault.Admin.ViewModels.HomeViewModel
@{
     ViewBag.Title = "Media Contacts";
}

@if (Model.MediaContacts.Length == 0)
{
     <h4>There are no Media Contacts</h4>
}
else
{
     using (Html.BeginForm())
     {
          <table class="table table-striped table-bordered">
               <caption>Media Contacts</caption>
               <thead>
                    <tr>
                         <th>Done</th>
                         <th>Date</th>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Title</th>
                         <th>Organization</th>
                         <th>City</th>
                         <th>State</th>
                         <th>Phone</th>
                         <th>Email</th>
                         <th>Best&nbsp;Method</th>
                         <th>How Heard</th>
                         <th>Message</th>
                         <th>&nbsp;</th>
                    </tr>
               </thead>
               <tbody>
                    @for (int i = 0; i < Model.MediaContacts.Length; i++)
                    {
                         <tr>
                              @Html.HiddenFor(m => m.MediaContacts[i].Id)
                              <td>@Html.EditorFor(m => m.MediaContacts[i].Done)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].OnDate)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].FirstName)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].LastName)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].Title)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].Organization)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].City)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].State)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].Phone)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].Email)</td>
                              <td>
                                   @Html.RadioButtonFor(m => m.MediaContacts[i].BestMethod, "email") email <br />
                                   @Html.RadioButtonFor(m => m.MediaContacts[i].BestMethod, "phone") phone
                              </td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].HowHeard)</td>
                              <td>@Html.EditorFor(m => m.MediaContacts[i].Message)</td>
                              <td>
                                   <input type="submit" value="Update" class="btn btn-xs btn-warning" formaction='@Url.Action("MediaContacts", "Home", new { id = i })' onclick="return confirm('Are you sure you want to update this record?')" />
                                   @Html.ActionLink("Delete", "DeleteMediaContact", "Home", new { id = Model.MediaContacts[i].Id }, new { @class = "btn btn-xs btn-danger", @onclick = "return confirm('Are you sure you want to DELETE this record?')" })
                              </td>
                         </tr>
                    } @*iteration*@
               </tbody>
          </table>
     } @*end form*@
     @Html.ActionLink("Add new media contact", "AddMediaContact", "Home", null, new { @class = "btn btn-sm btn-success" })
}
